body{
	margin: 0px;
	padding: 0px;
}

header{
	width: 100%;
	background: #353f49;
	border-bottom: 2px solid #2f3336;

}

header .logo{
	display: inline-block;
}

header .logo span {
	color:white;
	font-weight: bold;
	font-size: 20px;
	margin-left: 30px;
}

header .menuWraper{
	float: right;
	margin-right: 100px;
	display: inline-block;
	margin-top:5px;
}

header .menuWraper .headMenu li{
	list-style-type:none;
	display: inline-block;
}

header .menuWraper .headMenu a{
	list-style-type:none;
	color:white;
	margin-left: 20px;
}