body{
	margin:0px;
	padding: 0px;
	background:#f5f5f5 !important;
}
.navbar-inverse{
    border-radius: 0px !important;
    background: #36404a !important;
}

.navbar-inverse a{
	color:white !important;
    font-size: 20px !important;
}

.blockProduct{
	background: rgba(255,0,0,0.6);
	margin-top:-20px;
}
main{
	background: url("/home/user/gommehd.net/img/home.jpg")center !important;
	height: 375px;
	padding: 0px;
	margin:0px;
}
.mainTextWraper{
	max-width: 600px;
	margin:auto;
}
/*#mainText1 h1{
	display: block;
	text-align: center;
	color: white;
	font-weight: bold;
}
#mainText2 h1{
	display: block;
	text-align: center;
	color: white;
	font-weight: bold;
}*/